svg.svelte-8wnnqi.svelte-8wnnqi{top:0;left:0;width:100%;height:100vh;height:100svh;box-sizing:border-box;display:block;background-color:#07457e;background-image:linear-gradient(to bottom, rgba(7, 69, 126 0.86), #0e4166)}.wrap-layer.svelte-8wnnqi.svelte-8wnnqi{position:relative}.text-layer.svelte-8wnnqi.svelte-8wnnqi{position:absolute;width:100%;height:auto;top:200px;left:0}.content.svelte-8wnnqi.svelte-8wnnqi{position:relative;top:100px;display:flex;justify-content:center}.content.svelte-8wnnqi h2.svelte-8wnnqi{color:#fff;font-size:5em;position:absolute}.content.svelte-8wnnqi h2.svelte-8wnnqi:nth-child(1){color:transparent;-webkit-text-stroke:2px #3b82f6}.content.svelte-8wnnqi h2.svelte-8wnnqi:nth-child(2){color:#1fb2a5;animation:svelte-8wnnqi-animate 4s ease-in-out infinite}@keyframes svelte-8wnnqi-animate{0%,100%{-webkit-clip-path:polygon(
				0% 45%,
				16% 44%,
				33% 50%,
				54% 60%,
				70% 61%,
				84% 59%,
				100% 52%,
				100% 100%,
				0% 100%
			);clip-path:polygon(
				0% 45%,
				16% 44%,
				33% 50%,
				54% 60%,
				70% 61%,
				84% 59%,
				100% 52%,
				100% 100%,
				0% 100%
			)}50%{-webkit-clip-path:polygon(
				0% 60%,
				15% 65%,
				34% 66%,
				51% 62%,
				67% 50%,
				84% 45%,
				100% 46%,
				100% 100%,
				0% 100%
			);clip-path:polygon(
				0% 60%,
				15% 65%,
				34% 66%,
				51% 62%,
				67% 50%,
				84% 45%,
				100% 46%,
				100% 100%,
				0% 100%
			)}}